apptools==4.4.0
art==2.6
astroid==2.1.0
atomicwrites==1.2.1
attrs==18.2.0
bibtexparser==1.0.1
certifi==2018.10.15
chardet==3.0.4
cloudpickle==0.6.1
codecov==2.0.15
colorama==0.4.1
configobj==5.0.6
coverage==4.5.2
cycler==0.10.0
Cython==0.29.1
dask==1.0.0
decorator==4.3.0
envisage==4.7.0
et-xmlfile==1.0.1
flake8==3.6.0
future==0.17.1
idna==2.7
isort==4.3.4
Jinja2==2.10
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.26.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
more-itertools==4.3.0
natsort==5.5.0
networkx==2.2
numba==0.41.0
numpy==1.16
numexpr==2.6.9
openpyxl==2.5.12
packaging==18.0
pandas==0.23.4
Pillow==5.3.0
pluggy==0.8.0
psutil==5.4.8
py==1.7.0
pycm==1.6
pycodestyle==2.4.0
pyface==6.0.0
Pygments==2.3.1
pyimzML==1.2.3
pylint==2.2.2
pyparsing==2.3.0
Pypubsub==4.0.0
pytest==4.0.1
pytest-cov==2.6.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
pyyaml>=4.2b1
pyzmq==17.1.2
requests==2.20.1
rope==0.11.0
scipy==1.2.0rc2
seaborn==0.9.0
six==1.11.0
tables==3.4.4
toml==0.10.0
toolz==0.9.0
tornado==5.1.1
typed-ast==1.1.1
urllib3==1.24.1
wheezy.template==0.1.167
wincertstore==0.2
